html {
  box-sizing: border-box;
  font-size: 62.5%;
  // background-color: rgba(255, 255, 255, 0.2);

  @media only screen and (max-width: 61.25em) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: calc(100vh - 2 * 4vw);
}

.footer {
  border-top: 1px solid #211e1b;
  border-width: 90%;
  min-width: 90%;
  margin: 0;
  height: 100%;
  font-size: 48px;
  text-align: center;
  overflow-y: auto;
  max-width: 90%;
  padding: 16px;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
